* {
    padding: 0;
    margin: 0;
}

body {
    box-sizing: border-box;
    font-family:'Lato', Courier, monospace;
}

.main-container {
    width: 50%;
    margin: 0 auto 3rem;
}

.line {
    background-color: black;
    height: 1px;
    margin: 1rem 0 2rem 0;
}

.word-masters {
    display: flex;
    justify-content: center;
    padding: 2rem;
    text-align: center;
    font-size: 3vw;
}

.grid-row {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.cell {
    position: relative;
    width: 50%;
    overflow: hidden;;
    border: solid black 1px;
    margin: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2vw;
}

.cell:before {
    content: "";
    display: flex;
    padding-top: 100%;
}
