:root{
    --black: #171321;
    --dkblue: #0d314b;
    --plum: #4b0d49;
    --hotmag: #ff17e4;
    --magenta: #e310cb;
    --aqua: #86fbfb;
    --white: #f7f8fa;
    --font-size: 1.3rem;
    --mono: "Oxygen mono", monospace;
    --sans: "Oxygen", sans-serif;
}

html{
    box-sizing: border-box;
}

*,
*::before,
*::after{
    box-sizing: inherit;
}

body{
    margin: 0;
    padding: 0;
    font-family: var(--sans);
    background-color: var(--black);
    color: var(--white);
    font-size: var(--font-size);
    min-width: 400px;
}


h1, h2, h3, p{
    margin: 0;
    padding: 0;
}

a{
    padding: 0;
    margin: 0;
    color: var(--magenta);
}
/* 
a:hover{
    color: var(--hotmag);
    text-decoration: none;
} */


.intro{
    padding: 4rem 1rem 10rem 1rem;
    max-width: 1200px;
    margin: 0 auto;
}

.into p{
    font-size: 1rem;
    line-height: 1.5;
}

.name{
    font-family: var(--mono);
}

.name span{
    font-family: var(--sans);
    font-size: 4rem;
    color: var(--aqua);
    display: block;
}

.intro h2{
    font-size: 4rem;
}

.section-plum{
    background-color: var(--plum);
}

.gradient {
    background: linear-gradient(90deg, rgba(255, 23, 228, 1) 0%, rgba(134, 251, 251, 1) 100%);
    height: 2px;
}
.contact-me{
    width: 400px;
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
    padding: 3rem 0;
}

.contact-me p:last-child{
    margin-top: 3rem;
    margin-bottom: .5rem;
}

.contact-me a{
    padding: 10px;
    background-color: var(--magenta);
    border-radius: 5px;
    text-decoration: none;
    color: var(--white);
    font-family: var(--mono);
}

.contact-me a:hover{
    background-color: var(--hotmag);
    text-decoration: none;
}

.contact-me h2{
    margin-bottom: 1rem;
}

/* Nav Bar */
.navbar {
    font-family: var(--mono);
    font-size: 80%;
    padding: 1rem;
}

nav h1 a{
    font-family: var(--sans);
}

nav ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

nav li:first-child{
    flex-basis: 100%;
    text-align: center;
}


nav [class*="fa-"]{
    font-size: 150%;
    color: var(--aqua);
}

nav [class*="fas"]{
    font-size: 100%;
    color: var(--aqua);
}

nav a{
    color: var(--white);
    text-decoration: none;
    display: block;
    padding: .5rem;
}

nav [class*="fa-"]:hover,
nav [class*="fas"]:hover{
    color: var(--magenta);
}

.projects:hover,
.about:hover,
.contact:hover{
    background-color: var(--magenta);
    color: #171321;
    border-radius: 5px;
}

section.contact-me a{
    margin: 0;
}
.resume-button{
    background-color: var(--magenta);
    border-radius: 5px;
    padding: .5rem;
}

.resume-button:hover{
    color: var(--white);
    background-color: var(--hotmag);
}

/* Footer */

footer{
    padding: 30px;
}

footer ul{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
    list-style-type: none;
    gap: 3rem;
}

footer li:first-child{
    flex-basis: 100%;
    text-align: center;
}

footer li:last-child{
    flex-basis: 100%;
    text-align: center;
    margin: 0;
    padding: 0;
}

li.footer-item p{
    margin: 0;
}

footer [class*="fa-"]{
    font-size: 250%;
}

footer [class*="fa-"]:hover{
    color: var(--aqua);
}

@media (min-width: 850px) {
    nav {
        margin: 0 auto;
        max-width: 1200px;
    }

    nav li:first-child{
        flex-basis: auto;
        text-align: left;
        margin-right: auto;
    }
}